@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo1</title>
</head>
<body>
    <div>
        <h1>This is an H1</h1>
        <h1>This is an H1</h1>
        <h1>This is an H1</h1>
        <h1>This is an H1</h1>
        <h1>This is an H1</h1>
    </div>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script>
        $(function () {
            $('h1').click(function () {
                $(this).fadeOut(3000, function () {
                    $(this).remove();
                });; // <== timer.
               
            });
        });
    </script>
</body>
</html>
